:root {
    --greena: rgba(7, 206, 7, 0.75);
    --green: rgba(7, 206, 7);
    --logo-font-size: max(20px, 4vh + 1vw);
} 

@font-face {
    font-family: 'matrix';
    src: url('./font/lcd.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "matrix", monospace,Cantarell,Ubuntu, system-ui;
}
body{
    overflow: hidden;
    position:relative;
    background-color: #111;
    width:100vw;
    height:100vh;
}

                    /* Matrix background */

.matrix-container{
    user-select:none;
    position:absolute;
    margin:auto;
    /* writing-mode: vertical-rl;
    text-orientation:upright; */
    font-family: "matrix", monospace;
    font-size:20px;
    color: var(--greena);
    z-index:-1;
}
.matrix{
    position:absolute;
    transition: 1.0s;
    display:flex;
    flex-direction: column;
    top:5px;
}

.matrix span {
    will-change: transform,opacity,contents; 
    animation: animate-matrix 5s linear forwards;
}
@keyframes animate-matrix {
    0% {
        color:#fff;
        opacity: 1;
        /* transform: scale(1); */
    }
    10%{
        color: var(--greena);
    }
    100%{
        opacity: 0;
        /* transform: scale(0.5); */
    }
}

                            /* header */

header {
    position:fixed;
    width: fit-content;
    left: 50%;
    bottom:1vh;
    margin-bottom:2vh;
    transform: translate(-50%);
}      

                            /* navigation */

nav {
    font-weight: bold;
    font-size:max(12px,2vh);
    max-height: 50px;
    /* bottom:10px; */
    animation: nav-init-anim 1.8s ease-in forwards;
    margin:auto;
    z-index:2;
}
nav ul {
    list-style:none;
    display:flex;
    gap: 3vw;

}
a {
    white-space: nowrap;
    text-decoration: none;
    color: var(--green);
    &:hover {
        outline: 1px solid #fff;
        color:white !important;
    }
}
a[href ^= "http"]{
    content:'';
    text-decoration: underline;
}

@keyframes nav-init-anim {
    0%{
        color:white;
        opacity:0.0;
    }
    100%{
        color: var(--green);
        opacity:1.0;
    }
}

                        /* main */

.main-container {
    width: 100%;
    height: 100%;
    position:fixed;
}

                        /* pop window style */
::-webkit-scrollbar {
    width: 7px; 
}
::-webkit-scrollbar-track {
    background-color: transparent; 
}
::-webkit-scrollbar-thumb {
    background:radial-gradient(ellipse, var(--green), transparent);
    border-radius: 3px; 
}
hr{
    border-color:var(--greena);
    width:99%;
    /* transition:width var(--duration); */
    /* transition-delay: calc(calc(var(--duration) * 5) + var(--delay)); */
}
#Showcases::before {
    content: "001";
    color:var(--green);
    opacity:0.5;
    float:right;
    z-index:-1;
}
#Aboutme::before {
    content: "010";
    color:var(--green);
    opacity:0.5;
    float:right;
    z-index:-1;
}
#Contactme::before {
    content: "011";
    color:var(--green);
    opacity:0.5;
    float:right;
    z-index:-1;
    background:transparent;
}
#Showcases, #Aboutme, #Contactme{
    --typing-delay: 0.4s;
    --text-delay: calc(var(--typing-delay) + 0.3s);
    --delay: calc(var(--text-delay));
    --duration:100ms;
    background-color: #111;
    color: #111;
    position: absolute;
    inset:0;
    top:100%;
    margin:5% auto 0 auto;
    padding-right:5px;
    width:fit-content;
    height:fit-content;
    min-width: 350px;
    max-width:75%;
    max-height:60%;
    /* max-height: 80vh; */

    .top{
        position: absolute;
        opacity:1;
        height:0;
        width:0;
        transition:all var(--duration) forwards;
        z-index:-10;
    }
    .right{
        position: absolute;
        opacity:1;
        height:0;
        width:100%;
        transition:all var(--duration) forwards;
        z-index:-10;
    }
    .bottom{
        position: absolute;
        opacity:1;
        right:0;
        height:100%;
        width:0;
        transition:all var(--duration) forwards;
        z-index:-10;
    }
    .left{
        position: absolute;
        opacity:1;
        right:0;
        height:0;
        width:100%;
        transition:all var(--duration) forwards;
        z-index:-10;
    }
}

.open#Showcases,.open#Aboutme, .open#Contactme {
    scale: 1;
    color: #ddd;
    inset:0;
    .top{
        transition-delay: var(--delay);
        top: 0;
        left: 0;
        border-top: 1px solid var(--green); 
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .right{
        transition-delay: calc(calc(var(--duration) * 2) + var(--delay));
        top: 0;
        left: 0;
        border-right: 1px solid var(--green); 
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .bottom{
        transition-delay: calc(calc(var(--duration) * 3) + var(--delay));
        top: 0;
        right: 0;
        border-bottom: 1px solid var(--green); 
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        
    }
    .left{
        transition-delay: calc(calc(var(--duration) * 4) + var(--delay));
        bottom: 0;
        right: 0;
        border-left: 1px solid var(--green); 
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    & hgroup > h1 {
        animation-delay: 1s;
        animation: 
            typing var(--typing-delay) steps(9,end),
            cursor .75s step-end infinite
        ;
    }
    & p {
        font-size: max(12px,2.15vh);
        line-height: 1.3; 
    }
}
section{
    position:relative;
    width: 100%;
    min-height: fit-content;
    max-height: 55vh;
    overflow:auto; 
}
p{
    transition: font-size .3s;
    transition-delay: var(--text-delay);
    padding:5px;
    top:0;
    font-size:0;
}
hgroup {
    width: fit-content;
}
h1 {
    font-size:max(18px,4vh);
    overflow: hidden;
    white-space: nowrap;
    color:transparent;
    font-style: italic;
    -webkit-text-stroke: 1px var(--green);
    letter-spacing: .15em;
    border-right: 1px solid var(--greena);   
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: var(--greena); }
}

    /* LOGO animations */

.logo {
    width:fit-content;
    margin: 0 0 10vh 0;
    color:var(--greena);
    font-size:var(--logo-font-size);
    font-weight: bold;
    animation: nav-init-anim 1.8s ease-in forwards;
}
.signature {
    font-family: Courier, 'Courier New', monospace;
    font-style: italic;
    position:absolute;
    width:100%;
    height:fit-content;
    margin:var(--logo-font-size) auto auto auto;
    top:0;
    color:var(--greena);
    font-size:max(2.5vh,10px);
    white-space: nowrap;
    animation: nav-init-anim 1.8s ease-in forwards;
}